.baseForm {
    background-color: #F3F3F5;
    border-radius: 1rem;
    padding: 1rem;
    width: 32rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    cursor: default;
    caret-color: transparent;
}

.mobileBaseForm {
  background-color: #F3F3F5;
  border-radius: 1rem;
  padding: 1rem;
  width: 90vw;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  cursor: default;
  caret-color: transparent;
}

button.tinkoffButton {
  background-color: #FFDD2D;
  color: #333333;
}

button.roundedRight {
  border-radius: 0 7px 7px 0;
}

button.tinkoffButton:focus {
  outline: none;
}

.textStyle {
  font-size: large;
  height: 2rem;
  text-align: left;
  align-self: stretch;
  background-color: #F3F3F5;
  color: #333333;
}

input.customBorder {
  border-radius: 7px;
  border: 2px solid gray;
  outline: none;
}

input.customLeftBorder {
  border-radius: 7px 0 0 7px;
  border: 2px solid gray;
  outline: none;
}

button.whiteButton {
  background-color: #F3F3F5;
}

.columned {
  gap: 0rem;
  display: flex;
  flex-direction: column;
}


.setVisibleIcon {
  height: 100%;
  width: 100%;
  outline: none;
}

.setVisibleButton {
  height: 2.4rem;
  align-self: baseline;
  outline: none;
}

.setVisibleButton:focus {
  outline: none;
}

.rowed {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.horizontalStretch {
  width: 100%;
}

.submitButtonStyle {
  align-self: center;
}

label.error {
  color: red;
  text-align: left;
}

.refStyle {
  font-size: smaller;
}

.verificationForm {
  background-color: #F3F3F5;
  border-radius: 1rem;
  padding: 1rem;
  width: 25rem;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  cursor: default;
  caret-color: transparent;
}

.mobileVerificationForm {
  background-color: #F3F3F5;
  border-radius: 1rem;
  padding: 1rem;
  width: 90vw;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  cursor: default;
  caret-color: transparent;
}